* {
    margin: 0;
    padding: 0;
}

body {
    background: #C2C4D7;
    font-family: sans-serif;
}

.contenedor {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box;
}

.header img {
    width: 15%;
    padding: 15px;
    margin-left: 10%;
    box-sizing: border-box;
}

nav {
    float: right;
    margin-top: 40px;
    margin-right: 10%;
    box-sizing: border-box;
}

nav a {
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
}

.main {
    margin-top: 20px;
    box-sizing: border-box;
}


/*SECTION 1*/

.section1 {
    background: rgb(9, 114, 128);
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}

.section1 img {
    width: 30%;
    height: 450px;
    max-width: 300px;
    margin-left: 23px;
    padding: 20px;
    box-sizing: border-box;
}

.section1 h2 {
    background: black;
    color: white;
    padding: 10px 0px 10px 30px;
    box-sizing: border-box;
}


/*SECTION 2*/

.section2 {
    background: white;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}

.section2 img {
    width: 30%;
    height: 450px;
    max-width: 300px;
    margin-left: 23px;
    padding: 20px;
    box-sizing: border-box;
}

.section2 h2 {
    background: black;
    color: white;
    padding: 10px 0px 10px 30px;
    box-sizing: border-box;
}

footer {
    background: black;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

footer p {
    color: white;
    width: 60%;
    padding: 10px 0 0 30%;
    box-sizing: border-box;
}

footer img {
    position: relative;
    bottom: 85%;
    width: 10%;
    padding: 6% 0 0 0;
    margin-right: 30%;
    text-align: center;
    float: right;
    box-sizing: border-box;
}

b {
    position: relative;
    color: white;
    float: right;
    left: 40%;
    padding: 5px;
    box-sizing: border-box;
}

nav a:hover {
    border-bottom: 2px solid black;
}